*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --lghtblu: #C6E2FF;
    --sky: #F3F9FF;
    --black: var(--black)
}
#container {
    width: 100%;
    min-width: 320px;
    font-size: clamp(8px, 1rem, 2em);
    background-color: var(--sky);
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    gap: 10px;
    border: 2px solid black;
    margin: auto;
}
#header {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--lghtblu);
    color: var(--black);
    border: 2px solid black;
    padding: 20px;
}
#info {
    display: flex;
    flex-direction: column;
    align-items: center;
.logo {
    width: 200px;
    height: auto;
    border: 2px solid var(--black);
}
}
#nav {
    display: flex;
    flex-direction: column;
    a{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: var(--black);
        font-size: x-large;
    }
}
.input {
   .name {
    width: 150px;
    height: 25px;
    padding: 2px 2px;
    border: 10px;
    margin: 2px;
   } 
.password {
    width: 150px;
    height: 25px;
    padding: 2px 2px;
    border: 10px;
    margin: 2px;
} 
.input-search {
    width: 150px;
    height: 25px;
    padding: 2px 2px;
    border: 10px;
    margin: 2px;
}
}
#main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--sky);
    padding: 20px;
    border: 2px solid var(--black);

}
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: clamp(10px, 1rem, 2em);
}
table, thead, tbody, th, td {
    border: 2px solid black;
    padding: 10px;
    font-size: clamp(12px, 2.5vw, 18px);
}

.larare {
    padding: 40px;
}
.e-post-larare {
    padding: 20px 20px;
}
.container-sms {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sms {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;

}
    .text {
        width: 50%;
        height: 30vh;
        padding: 10px 10px;
    }
input {
    width: 50px;
    height: 50px;
    border: none;
}
.bok {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    a{
        text-decoration: none;
        color: var(--black);
        font-size: large;
        border: 2px solid var(--black);
        padding: 10px 10px;
        background-color: var(--lghtblu);
    }
}
#footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #C6E2FF;
    padding: 20px;
    width: 100%;
}
@media screen and (max-width: 600px) {
    #header, #footer, .bok {
        flex-direction: column;
        align-items: center;
    }
}